@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-Primary900: #2b63d9;
  --color-Primary600: #437ef7;
  --color-Primary200: #b1ccfb;

  --color-Natural100: #f8f9fb;
  --color-Natural200: #f9f9f9;
  --color-Natural800: #a5acba;
  --color-Natural600: #eaebf0;

  --color-Gray700: #272d37;
  --color-Gray950: #151b28;
  --color-Gray50: #5f6d7e;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* General Elements */
body {
  font-family: "Inter";
}

img {
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
h1 {
  font-weight: 700;
  font-size: 3.25rem;
  line-height: 60px;
  letter-spacing: -1%;
  text-align: center;
  color: var(--color-Gray700);
  width: 89%;
  margin: auto;
}
h2 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.625rem;
  color: #ffff;
}
h3 {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.875rem;
  letter-spacing: -1%;
}
h4 {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: -0.1px;
}
p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
button {
  border: none;
}
input {
  border: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  padding: 12px 16px;
  outline: none;
}
section {
  padding: 4rem 0;
}
/* General Classes */

.none {
  display: none;
}
.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 32px;
  /* background-color: #437ef7; */
}
.d-flex {
  display: flex;
  flex-wrap: wrap;
}
.grow {
  flex-grow: 1;
}
.justify-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}
.col {
  flex-direction: column;
}
.primarybtn {
  padding: 0.75rem 1.125rem;
  color: #ffff;
  font-size: 0.9375rem;
  background-color: var(--color-Primary600);
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
}
/* NavBar */
.navbar {
  padding: 20px 0;
  border-bottom: 1px solid #eaebf0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  background-color: #f8f9fb;
  z-index: 1;
}
.navbar .img-wrapper {
  margin-right: 64px;
}
.navbar__link a {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  color: var(--color-Gray700);
}
.navbar__links {
  gap: 2rem;
}

.navbar .primarybtn {
  border-radius: 6px;
}
.navbar__link i {
  margin-left: 12px;
}
.secondarybtn {
  padding: 0.75rem 1.125rem;
  font-size: 0.9375rem;
  color: var(--color-Primary900);
  font-weight: 600;
  line-height: 1.375rem;
  letter-spacing: 0px;
}
/* Hero Section */
.hero {
  padding: 10.375rem 0 5.75rem 0;
  background-color: var(--color-Natural100);
}
.hero__content {
  text-align: center;
  width: 52.6%;
  margin: auto;
}
.hero__paragraph {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-Primary600);
  margin-bottom: 1rem;
}
/*Call To Action Section*/
.action,
.sign-up {
  background-color: var(--color-Primary900);
}
.action__content {
  width: 53.96%;
}
.action__content h2 {
  width: 88%;
}

.action__text {
  width: 80%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.1px;
  color: var(--color-Primary200);
  margin-top: 1.5rem;
}
.action__form {
  width: 36.19%;
}

.action__input {
  overflow: hidden;
  border-radius: 0.375rem;
}

.action__input input {
  color: var(--color-Natural800);
  flex-grow: 1;
}

.action__form p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--color-Primary200);
  margin-top: 0.5rem;
}
/*blog-tools section*/
.blog-tools__content,
.blog-tools__items {
  width: 48.4%;
}
.blog-tools__content h3 {
  margin-top: 24px;
}
.blog-tools__text {
  margin: 1rem 0;
  color: var(--color-Gray50);
}
.date {
  color: var(--color-Gray50);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.blog-tools__item-content .text {
  margin: 0.25rem 0 1rem 0;
}
.blog-tools__item-content {
  width: 63%;
}
.blog-tools__item:nth-child(2) {
  margin: 2rem 0;
}
.blog-tools__item-content p {
  color: var(--color-Gray50);
}

/* Post section  */
.posts__header h2 {
  color: var(--color-Gray700);
  margin-bottom: 4rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  position: relative;
}
.posts__header h2::after {
  content: "";
  position: absolute;
  width: 8.625rem;
  height: 0.3125rem;
  background-color: #d9d9d9;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.posts__items {
  column-gap: 0;
  row-gap: 4rem;
}
.posts__item {
  width: 31.58%;
}
.learn-more {
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  color: var(--color-Primary600);
  margin-top: 1rem;
}
.posts__item .date {
  margin: 1rem 0 0.5rem 0;
}

/*sidn up section*/
.sign-up__content {
  width: 50%;
  text-align: center;
  margin: auto;
}
.sign-up__text {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ffffff;
}
.sign-up__header {
  margin: 0.5rem 0 2rem 0;
}
.sign-up__btn {
  font-size: 0.9375rem;
  line-height: 1.375rem;
  border-radius: 0.375rem;
  padding: 0.75rem 1.125rem;
  background: #ffffff;
  color: var(--color-Primary600);
  font-weight: 600;
}
/*footer*/
footer {
  background-color: var(--color-Gray950);
  padding: 4rem 0;
}
.footer__logo {
  width: 25.42%;
}
.footer__logo .img-wrapper {
  width: 48.55%;
}

.footer__cols {
  margin-bottom: 4rem;
}
.footer__input {
  border-radius: 0.375rem;
  overflow: hidden;
}
.footer__input input {
  /* width: 13.8125rem; */

  background-color: #2e3545;
}
.footer__cols ul li,
.footer__cols .text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;

  color: var(--color-Natural800);
}
.footer__cols .text {
  margin: 1rem 0;
}
.footer__col ul {
  gap: 0.75rem;
}
.col__bold {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.0063rem;
  color: var(--color-Natural200);
  margin-bottom: 1.5rem;
}
.copy-right {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.0063rem;
  text-align: center;
  color: var(--color-Natural800);
  border-top: solid 0.0625rem #2e3545;
  padding-top: 2rem;
}
/********* 768px **************/
@media (max-width: 768px) {
  .navbar .container {
    padding: 0 1rem;
  }
  .container {
    padding: 0 2rem;
  }
  section {
    padding: 2.5rem 0;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .hero {
    order: 1;
  }
  .blog-tools {
    order: 2;
  }
  .action {
    order: 3;
  }
  .posts {
    order: 4;
  }
  .sign-up {
    order: 5;
  }

  /*navbar*/
  .navbar {
    position: static;
  }
  .navbar__links-buttons {
    display: none;
  }
  .navbar .d-flex {
    justify-content: space-between;
  }
  .navbar__burger {
    display: block;
  }
  /*hero section*/
  h1 {
    width: 100%;
  }
  .hero__content {
    width: 92.31%;
  }
  .hero {
    padding: 3rem 0 5.5rem 0;
  }
  /*action section*/
  .action__content,
  .action__content h2 {
    width: 100%;
  }
  .action__form {
    width: 80.12%;
    margin-top: 32px;
  }
  /* blog-tools section  */
  .blog-tools__content,
  .blog-tools__items {
    width: 100%;
  }
  .blog-tools__content {
    margin-bottom: 2rem;
  }
  .blog-tools__item {
    justify-content: flex-start;
    gap: 1.5rem;
  }
  /*Post section */
  .posts__items {
    column-gap: 0;
    row-gap: 6rem;
  }
  .posts__item {
    width: 47.75%;
  }
  /*sign-up*/
  .sign-up__content {
    width: 100%;
  }
  /*footer*/
  footer {
    padding: 2.5rem 0;
  }
  .footer__cols {
    margin-bottom: 2rem;
  }
  .footer__logo {
    width: 83%;
    padding-bottom: 4.25rem;
  }
  .footer__logo .img-wrapper {
    width: 27.39%;
  }
  .frist {
    order: 1;
  }
  .second {
    order: 2;
  }
  .third {
    order: 3;
  }
}

/******** 375px ******/

@media (max-width: 376px) {
  section {
    padding: 2rem 0;
  }
  .container {
    padding: 0 1rem;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  /*hero section*/
  .hero__content {
    width: 100%;
  }

  .hero {
    padding: 2rem 0 2.5rem 0;
  }

  h1 {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  /*action section*/
  .action__content h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -2%;
  }
  .action__form {
    margin-top: 1.5rem;
  }
  .action__form,
  .action__form input,
  .action__form button,
  .action__text {
    width: 100%;
  }
  .action__form input {
    border-radius: 0.375rem;
  }
  .action__form button {
    margin-top: 1rem;
    border-radius: 6px;
  }
  .action__form p {
    display: none;
  }

  .blog-tools__item .img-wrapper,
  .blog-tools__item-content {
    width: 100%;
  }
  .blog-tools__content .img-wrapper,
  .blog-tools__item .img-wrapper {
    height: 11.5625rem;
  }
  .posts__item {
    width: 100%;
  }
  .posts__item .img-wrapper {
    height: 13.1875rem;
  }
  .posts__items {
    column-gap: 0;
    row-gap: 4rem;
  }

  /*sign-up*/
  .sign-up__btn {
    width: 100%;
  }
  h2 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  /*footer*/
  .footer__logo {
    width: 100%;
    padding-bottom: 3.25rem;
  }
  .frist {
    order: 3;
  }
  .second {
    order: 1;
  }
  .third {
    order: 2;
  }
  .footer__logo .img-wrapper {
    width: 46.61%;
  }
}
